<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.sigma.i3s.unice.fr/Scala/Extensions/Test"
            class="test.TestPackage"
            genModel="model/Test.genmodel"/>
   </extension>

</plugin>
