<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.invocation_delegate">
      <factory
            class="fr.unice.i3s.sigma.delegates.SigmaScalaInvocationDelegateFactory"
            uri="http://www.i3s.unice.fr/Sigma/Scala">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.setting_delegate">
      <factory
            class="fr.unice.i3s.sigma.delegates.SigmaScalaSettingDelegateFactory"
            uri="http://www.i3s.unice.fr/Sigma/Scala">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.validation_delegate">
      <delegate
            class="fr.unice.i3s.sigma.delegates.SigmaScalaValidationDelegateFactory"
            uri="http://www.i3s.unice.fr/Sigma/Scala">
      </delegate>
   </extension>
   <extension
         point="org.eclipse.emf.codegen.ecore.generatorAdapters">
      <adapterFactory
            class="fr.unice.i3s.sigma.scala.delegates.codegen.SigmaStaticDelegatesGeneratorAdapterFactory">
      </adapterFactory>
   </extension>
</plugin>
