<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="e42-models14-krikava" sequenceNumber="42">
<locations>
<location path="${container_loc}/../fr.unice.i3s.sigma.releng.p2/target/repository" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
</target>
