<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="e42-pl14-krikava" sequenceNumber="39">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="file:/Users/krikava/Development/p2-mirrors/repository/eclipse-swtbot/"/>
</location>
<location path="${container_loc}/../fr.unice.i3s.sigma.releng.p2/target/repository" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.0.2.v20130114-0902"/>
<repository location="file:/Users/krikava/Development/p2-mirrors/repository/eclipse-uml/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.scala-ide.sdt.feature.feature.group" version="3.0.2.rc02-2_10-201310081317-0880865"/>
<repository location="file:/Users/krikava/Development/p2-mirrors/repository/scala-ide-e38/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.feature.group" version="3.8.2.v20130116-091538-7c7wFj0FFt6Zr9bd4AM1JEQMS"/>
<unit id="org.eclipse.acceleo.sdk.feature.group" version="3.3.2.201302130808"/>
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.3.1.v201209061455"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.3.v20130125-0826"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.1.v201208210947"/>
<unit id="org.eclipse.jdt.feature.group" version="3.8.2.v20130116-090414-8-8nFu3FNOfwKLRuqgXKIy9z0I83"/>
<repository location="file:/Users/krikava/Development/p2-mirrors/repository/eclipse-juno/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.1.0.201309101707"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.1.0.201309101707"/>
<repository location="file:/Users/krikava/Development/p2-mirrors/repository/eclipse-epsilon/"/>
</location>
</locations>
</target>
