<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.i3s.unice.fr/sigma/examples/Library"
            class="fr.unice.i3s.sigma.examples.library.LibraryPackage"
            genModel="model/Library.genmodel"/>
   </extension>

</plugin>
