<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="e37" sequenceNumber="16">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.scala-ide.sdt.feature.feature.group" version="2.1.0.m1-2_09-201204131819-c58d6d8"/>
<repository location="http://download.scala-ide.org/releases-29/milestone/site/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.2.M20120208-0800"/>
<unit id="org.eclipse.jdt.feature.group" version="3.7.2.v20120120-1414-7z8gFcuFMP7BW5XTz0jLTnz0l9B1"/>
<unit id="org.eclipse.pde.feature.group" version="3.7.2.v20120120-1420-7b7rFUOFEx2Xnqafnpz0E--0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.emf.compare.feature.group" version="1.2.2.v20120214-0915"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava.runtime.feature.feature.group" version="11.0.1"/>
<unit id="com.google.guava.sdk.feature.feature.group" version="11.0.1"/>
<repository location="http://guava-osgi.googlecode.com/svn/trunk/repository/"/>
</location>
<location path="${project_loc}/../fr.unice.i3s.sigma.releng.p2/target/repository" type="Directory"/>
</locations>
</target>
