<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fr.unice.i3s.sigma.examples.pl14/src/fr/unice/i3s/sigma/examples/pl14/benchmark/BenchmarkRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.preferred_launchers">
<mapEntry key="[run]" value="org.eclipse.visualvm.launch.java"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.unice.i3s.sigma.examples.pl14.benchmark.BenchmarkRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="fr.unice.i3s.sigma.examples.pl14.sigma.SigmaOO2JavaBenchmark"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fr.unice.i3s.sigma.examples.pl14"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1024M -Xms512M"/>
</launchConfiguration>
