<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/fr.unice.i3s.sigma.examples.sle13/src/fr/unice/i3s/sigma/examples/sle13/atl/Class2Relational.atl"/>
<stringAttribute key="ATL VM" value="Regular VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="UML"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="Relational" value="EMF"/>
<mapEntry key="UML" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Relational" value="METAMODELOUTPUT"/>
<mapEntry key="UML" value="METAMODELINPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="true"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="disableAttributeHelperCache" value="false"/>
<mapEntry key="disassemblyMode" value="false"/>
<mapEntry key="stopInMain" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Relational"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/fr.unice.i3s.sigma.examples.sle13/resources/UML2.xmi"/>
<mapEntry key="OUT" value="/fr.unice.i3s.sigma.examples.sle13/resources/output-atl.xmi"/>
<mapEntry key="Relational" value="/fr.unice.i3s.sigma.examples.sle13/model/Relational.ecore"/>
<mapEntry key="UML" value="/fr.unice.i3s.sigma.examples.sle13/model/SimpleUML.ecore"/>
</mapAttribute>
<stringAttribute key="Port" value="6060"/>
<listAttribute key="Superimpose"/>
</launchConfiguration>
