<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.evl.eclipse.dt.launching.EvlLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="#&#10;#Mon Jun 17 15:40:05 CEST 2013&#10;isMetamodelFileBased=false&#10;name=UML&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=platform\:/resource/fr.unice.i3s.sigma.examples.sle13/model/SimpleUML.ecore&#10;metamodelUri=http\://uml/1.0,http\://www.eclipse.org/emf/2002/Ecore&#10;modelUri=platform\:/resource/fr.unice.i3s.sigma.examples.sle13/resources/UML1.xmi&#10;type=EMF&#10;modelFile=/fr.unice.i3s.sigma.examples.sle13/resources/UML1.xmi&#10;expand=true&#10;metamodelFile=/fr.unice.i3s.sigma.examples.sle13/model/SimpleUML.ecore&#10;"/>
</listAttribute>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/fr.unice.i3s.sigma.examples.sle13/src/fr/unice/i3s/sigma/examples/sle13/epsilon/Singleton.evl"/>
</launchConfiguration>
