<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fr.unice.i3s.sigma.scala.tools/src/fr/unice/i3s/sigma/scala/tools/EMFScalaSupportGenerator.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.unice.i3s.sigma.scala.tools.EMFScalaSupportGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${project_loc:/fr.unice.i3s.sigma.scala.examples.library}/model/Library.genmodel ${project_loc:/fr.unice.i3s.sigma.scala.examples.library}/src-gen"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fr.unice.i3s.sigma.scala.tools"/>
</launchConfiguration>
