<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fr.unice.i3s.sigma.examples.library/src/fr/unice/i3s/sigma/examples/library/support/GenerateLibraryScalaSupport.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.unice.i3s.sigma.examples.library.support.GenerateLibraryScalaSupport"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fr.unice.i3s.sigma.examples.library"/>
</launchConfiguration>
