<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleOO -->
      <package
            uri="http://sigma.i3s.unice.fr/examples/simpleoo/1.0"
            class="fr.unice.i3s.sigma.examples.simpleoo.SimpleooPackage"
            genModel="model/SimpleOO.genmodel"/>
   </extension>

</plugin>
