---
layout: base
title: Sigma DSLs
---

<div class="beta-ribbon-wrapper left">
    <div class="beta-ribbon">
        <a href="https://github.com/fikovnik/Actress">Work in progress</a>
    </div>
</div>
<div class="hero-unit">
<h1>{{ site.title }}</h1>
<p>Scala Internal Domain-Specific Languages for Model Manipulation.</p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span10">
    {{ content }}
</div>
<div class="span6">
  <h2>Documentation</h2>
    <dl>
      {% for item in site.docs %}
        <dt><a href="{{ item.url }}">{{ item.title }}</a></dt>
        <dd>{{ item.desc }}</dd>
      {% endfor %}
    </dl>
</div>
</div>