<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://oo/1.0"
            class="oo.OOPackage"
            genModel="model/OO.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://db/1.0"
            class="db.DBPackage"
            genModel="model/DB.genmodel"/>
   </extension>

</plugin>
