<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="fr.unice.i3s.sigma.examples.ecmfa14.m2m"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EERmodel -->
      <package
            uri="http://EER/1.0"
            class="EER.EERPackage"
            genModel="model/EERmodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Relational -->
      <package
            uri="http://Relational/1.0"
            class="Relational.RelationalPackage"
            genModel="model/Relational.genmodel"/>
   </extension>

</plugin>
